@model InstructorViewModel

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>create</h2>

<form class="form-group" action="/Instructor/create" method="post">

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.FirstName, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.FirstName)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.LastName, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.LastName)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.Email, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.Email)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.Password, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.PasswordFor(a => a.Password, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.Password)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.PhoneNumber, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.PhoneNumber, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.PhoneNumber)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.Ins_GraduationYear, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.EditorFor(a => a.Ins_GraduationYear, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.Ins_GraduationYear)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.Ins_Qualifications, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.TextBoxFor(a => a.Ins_Qualifications, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.Ins_Qualifications)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.BirthDate, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.EditorFor(a => a.BirthDate, new { @class = "form-control" })
        </div>
        <div class="col-sm-3">
            @Html.ValidationMessageFor(a => a.BirthDate)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.IsMarried, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.EditorFor(model => model.IsMarried)
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-1 col-sm-10">
        <div class="col-sm-2">
            @Html.LabelFor(a => a.Dept_Id, new { @class = "control-label" })
        </div>
        <div class="col-sm-5">
            @Html.DropDownListFor(a => a.Dept_Id, ViewBag.dept_drop as SelectList, "No Dept", new { @class = "form-control" })
        </div>
    </div>
    <br />

    <div class="form-group col-sm-push-6 col-sm-6">
        <div class="col-sm-6">
            <input type="submit" value="Create" class="btn btn-success" />
            @Html.ActionLink("Back to List", "Index", "Instructor", new { @class = "btn btn-warning" })
        </div>

    </div>
</form>